body{
    background-image: url(../img/cropped-3840-2160-161621.jpg);
    background-size: cover;
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
  }


  
  #demobox {
    background-color: rgba(0, 0, 0, 0.466) ;
  
    border-width: 10px;

    border-radius: 3%;
    margin-left: auto;
    margin-right: auto;

    
  }

 .title{
  text-shadow:0 0 2px #00FFFC,0 0 30px #00FFFC,0px 0px 5px #00FFFC, 0 0 150px #00FFFC;color:#00FFFC;
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 50px;
  text-shadow: 20px;

 }
 .flex{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
 }
 
 .logo {
  height: 300px;
  opacity: 100%;
  padding: 5px;

 }

.snip1374 img {
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  -webkit-transform: scale(0.5);
  transform: scale(1);
  margin-left: 150px;
}
.snip1374:hover img,
.snip1374.hover img {
  -webkit-transform: scale(1.4);
  transform: scale(0.9);
}

.desc{
  font-size: 50px;
  text-shadow:0 0 2px #00FFFC,0 0 30px #00FFFC,0px 0px 5px #00FFFC, 0 0 150px #00FFFC;color:#00FFFC;
  text-align: center;
}



#particles canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
